{% extends './layout/layout.html' %} 
{% block body %}
<div id="form-container" class="absolute flex flex-col w-2/4 rounded-lg shadow-xl left-1/4 top-1/3 sm1xs:top-auto sm1xs:left-auto sm1xs:w-3/4 p-auto 
bg-slate-50 shadow-slate-800/50 hover:shadow-sky-500">
    <div class="flex-row justify-start p-3 pb-0 mb-0">
        <h2 class="text-2xl font-530 font-notoserif text-slate-800">Log In</h2>
    </div>
    <hr class="w-3/4 px-3 my-px ml-3 border-slate-200" />
    <div class="p-6">
        <form id="login-form" method="post" action="{{ url_for('routes.signin') }}" class="max-w-sm font-ptsans">
            <!-- if any error is detected regardless of field, this general message will "unhide" itself -->
            <div class="hidden mb-4">
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    Incorrect email or password. Please try again.
                </div>
            </div>
            <div class="mb-4">
                <label for="user-email" class="block mb-2 text-md text-slate-600">Email</label>
                <input id="user-email" type="email" placeholder="Enter Email" class="rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5" required/>
                <div id="user-err-msg" class="hidden">
                    <p class="mt-2 text-sm text-red-600 font-530">
                        <i class="fa-solid fa-x"></i> <span id="email-err-msg-text">Email is required</span>
                        <!-- we will implement a method to display error messages other than the set default -->
                    </p>
                </div>
            </div>
            <div class="mb-4">
                <label for="user-pwd" class="block mb-2 text-md text-slate-600">Password</label>
                <input id="user-pwd" type="password" placeholder="Enter Password" class="rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5" required/>
                <div id="pwd-err-msg" class="hidden">
                    <p class="mt-2 text-sm text-red-600 font-530">
                        <i class="fa-solid fa-x"></i> <span id="pwd-err-msg-text">Password is required</span>
                        <!-- we will implement a method to display error messages other than the set default -->
                    </p>
                </div>
            </div>
            <div class="mb-4">
                <div class="flex flex-row justify-between sm1xs:items-center sm1xs:flex-col">
                    <div class="flex items-start">
                        <input id="acc-remember" aria-describedby="acc-remember" type="checkbox" class="block w-5 h-5 mr-3 rounded-lg hover:ring-sky-500 hover:border-sky-500 " />
                        <label for="acc-remember" class="text-md text-slate-600 sm1xs:mb-2">Remember Me</label>
                    </div>
                    <a href="#" data-modal-target="forgot-pwd-modal" data-modal-toggle="forgot-pwd-modal" class="text-md text-sky-500 hover:text-sky-600">Forgot Password?</a>
                </div>
            </div>
            <div class="mb-2">
                <button type="submit" class="bg-sky-500 hover:bg-sky-600 text-white font-530 rounded-lg w-full p-2.5">Log In</button>
            </div>
            <div class="mb-3">
                <p class="text-md text-slate-600">
                    Don't have an account? <a href="{{ url_for('routes.register') }}" class="text-sky-500 hover:text-sky-600">Sign Up</a>
                </p>
            </div>
        </form>
    </div>
</div>

<!-- Forgot Password Modal -->
<div id="forgot-pwd-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full p-4">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 border-b rounded-t md:p-5">
                <h3 class="text-xl font-semibold text-gray-900 font-notoserif">
                    Forgot Password?
                </h3>
                <button type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 ms-auto" data-modal-hide="forgot-pwd-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <form id="forgot-pwd-form" method="post" class="font-ptsans">
                    <div class="mb-4">
                        <label for="forgot-email" class="block mb-2 text-md text-slate-600">Email</label>
                        <input id="forgot-email" type="email" placeholder="Enter Email" class="rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5" />
                        <div id="forgot-email-err-msg" class="hidden">
                            <p class="mt-2 text-sm text-red-600 font-530">
                                <i class="fa-solid fa-x"></i> <span id="forgot-email-err-msg-text">Email is required</span>
                                <!-- we will implement a method to display error messages other than the set default -->
                            </p>
                        </div>
                    </div>
                    <div class="mb-2">
                        <input id="forgot-sbmt" data-modal-hide="forgot-pwd-modal" type="submit" value="Send Reset Link" class="bg-sky-500 hover:bg-sky-600 text-white font-530 rounded-lg w-full p-2.5" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Forgot PWD form submission toast -->
<div id="forgot-pwd-sbmt-toast" class="fixed right-0 flex items-center hidden w-full max-w-xs p-4 text-green-500 rounded-lg shadow bg-emerald-100 bottom-5 md:right-5" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-700 rounded-lg bg-emerald-300">
        <i class="fa-solid fa-info" aria-hidden="true"></i>
        <span class="sr-only">Info icon</span>
    </div>
    <div class="text-sm font-normal ms-3 font-ptsans">Reset Email Sent!</div>
    <button id="fpwd-sbmt-toast-close" type="button" class="ms-auto -mx-1.5 -my-1.5 bg-emerald-100 text-green-500 hover:text-green-700 rounded-lg focus:ring-2 focus:ring-emerald-300 
    p-1.5 hover:bg-emerald-300 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#forgot-pwd-sbmt-toast" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
</div>

{% endblock %} 
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#forgot-pwd-form").on('submit', function(e) {
            e.preventDefault();

            let payload = {
                "email" : $("#forgot-email").val()
            };

            $.ajax("{{ url_for('routes.api.forgotpwd') }}", {
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(payload),
                success: function(r) {
                    console.log("Success: ", r);
                    $("#forgot-pwd-sbmt-toast").removeClass("hidden");
                }
            });
        });
    });
</script>
{% endblock %}